@(message: String)

@main(title="Put your voice") {

} {

  <div id="container">
    <div id="content">
      <h1>Put voice！ あなたの声を残していこう！</h1>
      <audio class="audio">your browser can't use audio tag</audio>
      <div class="put-area">
        <div class="record">
          <button id="record_start" class="recorder">録音開始</button>
          <button id="record_stop" class="recorder">録音停止</button>
        </div>
        <div class="play">
          <button id="player" class="player">再生</button>
        </div>
        <div class="put">
          <span>ユーザー</span>
          <input type="text" id="" placeholder="morita-k" value="" />
          <button id="put_someone">声を残す</button>
        </div>
      </div>
    </div>
  </div>
  <script src='@routes.Assets.at("javascripts/audio-helper.js")' type="text/javascript"></script>
  <script type="text/javascript">
    var observerOfRecorder = null;

    /*
     * 
     */
    var onClickRecordStart = function(e) {
      window.audioBufferArray = [];

      navigator.getUserMedia(
        { video: false, audio: true },
        function(stream) {
          var mediaStreamSource = window.audioContext.createMediaStreamSource(stream);
          var scriptProcessor = window.audioContext.createScriptProcessor(window.BUFFERSIZE, 1, 1);

          mediaStreamSource.connect(scriptProcessor);
          scriptProcessor.connect(window.audioContext.destination);

          // record
          scriptProcessor.onaudioprocess = window.onAudioProcess;

          // stop after clicked stop button
          window.observerOfRecorder = new Object();
          var timer = window.setInterval(function() {
            console.log('interval');
            if (window.observerOfRecorder == null) {
              stream.stop();
              window.clearInterval(timer);
            }
          }, 500);
        },
        function (error) {
          console.log(error.name ? error.name : error);
        }
      );
    };

    /*
     * 
     */
    var onClickRecordStop = function(e) {
      window.observerOfRecorder = null;
    };

    /*
     * 
     */
    var onClickPlayer = function(e) {
      var src = window.audioContext.createBufferSource();
      src.buffer = getAudioBuffer(window.audioBufferArray, window.BUFFERSIZE);
      src.connect(audioContext.destination);
      src.start();
    };

    /*
     * 
     */
    var onClickPutting = function(e) {
      $.ajax({
        url: '@routes.Application.upload()',
        type: 'POST',
        processData: false,
        contentType: false,
        data: exportWAV(window.audioBufferArray, window.audioContext.sampleRate),
        success: function(data) {
          alert(data);
        },
        error: function(data) {
          alert('failed to upload');
        }
      });
    };

    $('#record_start').on('click', onClickRecordStart);
    $('#record_stop').on('click', onClickRecordStop);
    $('#player').on('click', onClickPlayer);
    $('#put_someone').on('click', onClickPutting);
  </script>

} {

}
