@(message: String)

@main("Put your voice") {

  <div id="container">
    <div id="content">
      <h1>hello</h1>
      <audio class="audio">your browser can't use audio tag</audio>
      <a class="link"></a>
      <button id="recorder" class="recorder">Put your voice</button>
      <button id="player" class="player">Play</button>
    </div>
  </div>
  <script src="../../public/javascripts/jquery-1.9.0.min.js"
   type="text/javascript"></script>
  <script src="../../public/javascripts/audio-helper.js"
   type="text/javascript"></script>
  <script type="text/javascript">
    $('#recorder').on('click', function(e) {
      alert('aaa');
    });
    $('#player').on('click',function(e) {
      alert('bbb');
    });

  </script>
}
